@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');


img {
    border-radius: 1em;
}

figure {
    padding: 10px;
    color: white;
    font-family: 'Source Code Pro', monospace;

}